{{ define "admin.destination.create.layout" }}
{{ template "admin.navbar" . }}
{{ template "admin.destination.create.content" . }}
{{ template "admin.footer" . }}
{{ end }}

{{ define "admin.destination.create.content"}}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
    <form method="POST" action="/admin/destination/create" enctype="multipart/form-data">
        <div class="form-group">
          <label for="destinationNameInput">Destination Name</label>
          <input type="text" class="form-control" id="destinationNameInput" name="destinationName" placeholder="Enter Destination">
        </div>
        <div class="form-group">
          <label for="destinationPriceInput">Price</label>
          <input type="number" class="form-control" id="destinationPriceInput" name="destinationPrice" placeholder="Price">
        </div>
        <div class="form-group">
            <label for="destinationDescriptionInput">Description</label>
            <textarea class="form-control" id="destinationDescriptionInput" name="destinationDescription" rows="3"></textarea>
          </div>
        <div class="form-group">
            <label for="destinationImageUpload">Upload Image</label>
            <input type="file" class="form-control-file" id="destinationImageUpload" name="destinationImage">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </main>
{{ end }}