{{ define "admin.destination.create.layout" }}
{{ template "admin.navbar" . }}
{{ template "admin.destination.create.content" . }}
{{ template "admin.footer" . }}
{{ end }}

{{ define "admin.destination.create.content"}}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
    <form>
        <div class="form-group">
          <label for="exampleInputEmail1">Destination Name</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Price</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Description</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>
        <div class="form-group">
            <label for="destinationImageUploader">Upload Image</label>
            <input type="file" class="form-control-file" id="destinationImageUploader">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </main>
{{ end }}