{{ define "admin.flight.layout" }}
{{ template "admin.navbar" . }}
{{ template "admin.flight.content" . }}
{{ template "admin.footer" . }}
{{ end }}

{{ define "admin.flight.content"}}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h2>Flights</h2>
        <a class="btn btn-outline-secondary" href="/admin/flight/create" role="button">Add Flight</a>
    </div>
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Destination Name</th>
            <th scope="col">Plane Name</th>
            <th scope="col">Departure Date</th>
            <th scope="col">Status</th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
            {{ range . }}
          <tr>
            <th scope="row"> {{ .ID }} </th>
            <td> {{ .DestinationName }} </td>
            <td> {{ .PlaneName }} </td>
            <td> {{ .DepartureDate }} </td>
            <td> {{ if .Status }} Active {{ else }} Inactive {{ end }} </td>
            <td> <a href="/admin/flight/update?id={{ .ID }}">Edit</a> </td>
            <td> <a href="/admin/flight/delete?id={{ .ID }}">Delete</a> </td>
          </tr>
          {{ end }}
          </tbody>
        </table>
</main>
{{ end }}