    
{{ define "book.layout" }}

{{ template "navbar" . }}
{{ template "book.content" . }}
{{ template "footer" . }}

{{ end }}

{{ define "book.content" }}
<div class="container">
    <form method="POST" action="/book" enctype="multipart/form-data">
        <div class="card text-center m-4">
            <div class="card-header">
                Where to?
            </div>
            <div class="card-body m-3">
                <select class="custom-select" id="flightDestinationInput" name="flightDestination">
                <option selected>Select Destination</option>
                {{ range . }}
                <option value='{{ .ID }}'>{{ .Name }} | Departing on {{ .DepartureDate}} | ${{ .Price}}</option>
                {{ end }}
                </select>
            </div>
        </div>
     
        <div class="card m-4">
            <div class="card-header text-center">
                Passenger Info
            </div>
            <div class="card-body m-3">
                <label for="fullNameInput">Full Name</label>
                <input type="text" class="form-control" id="fullNameInput" name="fullName" placeholder="Enter Full Name">
            </div>
            <div class="card-body m-3">
                <label for="emailInput">Email Address</label>
                <input type="email" class="form-control" id="emailInput" name="email" placeholder="Enter Email">
            </div>
            <div class="card-body m-3">
                <label for="passportInput">Passport Number</label>
                <input type="text" class="form-control" id="passportInput" name="passport" placeholder="Enter Passport Number">
            </div>
            <div class="card-body m-3 text-center">
                <button class="btn btn-outline-success form-control-lg pl-5 pr-5" type="submit">Book Now</button>
            </div>
        </div>
    </form>
</div>
{{ end }}