    
{{ define "flights.layout" }}

{{ template "navbar" . }}
{{ template "flights.content" . }}
{{ template "footer" . }}

{{ end }}

{{ define "flights.content" }}
<div class="container">
    <div class="row justify-content-center">
        <div class="card col-10">
            <div class="card-body m-4">
              <h4 class="card-title">Destination name</h4>
              <p class="card-text">Departure Date <small class="text-success">Price</small></p>
              <a href="#" class="btn btn-primary">Change</a>
            </div>
          </div>
    </div>
</div>
{{ end }}