{{ define "loyalty.layout" }}

{{ template "navbar" . }}
{{ template "loyalty.content" . }}
{{ template "footer" . }}

{{ end }}

{{ define "loyalty.content" }}
<div class="container">
    <div class="row justify-content-center">
        <div class="card col-10">
            <div class="card-body m-4">
              <h4 class="card-title">Once you book 3 tickets, you can redeem!</h4>
              <p class="card-text">Number of tickets booked: <small class="text-success">Number</small></p>
            </div>
          </div>
          {{if .Loyalty.Status}} 
          
              <a href="#" class="btn btn-primary">Redeem</a>
          {{ else }}
          <!-- off cards -->
          {{ end }}
    </div>
</div>
{{ end }}