{{ define "myflight.layout" }}
{{ template "navbar" . }}
{{ template "myflight.content" . }}
{{ template "footer" . }}
{{ end }}

{{ define "myflight.content"}}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">

    <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h2>My Flights</h2>
    </div>
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Destination Name</th>
            <th scope="col">Departure Date</th>
            <th scope="col">Ticket Status</th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
            {{ range . }}
          <tr>
            <td> {{ .DestinationName }} </td>
            <td> {{ .DepartureDate }} </td>
            <td> {{ if .Status }} Checked In {{ else }} Waiting {{ end }}</td>
            <td> <a href="/myflight/update?id={{ .ID }}">Edit</a> </td>
            <td> <a href="/myflight/delete?id={{ .ID }}">Delete</a> </td>
          </tr>
          {{ end }}
          </tbody>
        </table>
</main>
{{ end }}