    
{{ define "signup.layout" }}

{{ template "navbar" . }}
{{ template "signup.content" . }}
{{ template "footer" . }}

{{ end }}

{{ define "signup.content" }}
<div class="container">
    <form method="POST" action="/signup" enctype="multipart/form-data">
        <div class="card text-center m-4">
            <div class="card-header">
                Create an Account
            </div>
            <div class="card-body m-3">
                <div class="card-body m-3">
                    <label for="usernameInput">Username</label>
                    {{with .VErrors.Get "username"}}
                    <label class="text-danger">{{.}}</label>
                    {{end}}
                    <input type="text" class="form-control" id="usernameInput" name="username" placeholder="Enter Username" value='{{ .Values.Get "username" }}' required>
                </div>
                <div class="card-body m-3">
                    <label for="passwordInput">Password</label>
                    {{with .VErrors.Get "password"}}
                    <label class="text-danger">{{.}}</label>
                    {{end}}
                    <input type="text" class="form-control" id="passwordInput" placeholder="Enter Password" name="password" required>                      
                </div>
                <div class="card-body m-3">
                    <label for="confirmPasswordInput">Confirm Password</label>
                    {{with .VErrors.Get "confirmPassword"}}
                    <label class="text-danger">{{.}}</label>
                    {{end}}
                    <input type="text" class="form-control" id="confirmPasswordInput" placeholder="Repeat Password" name="confirmPassword" required>
                </div>
            </div>
        </div>
     
        <div class="card m-4">
            <div class="card-header text-center">
                Profile Info
            </div>
            <div class="card-body m-3">
                <label for="fullNameInput">Full Name</label>
                {{with .VErrors.Get "fullName"}}
                <label class="text-danger">{{.}}</label>
                {{end}}
                <input type="text" class="form-control" id="fullNameInput" name="fullName" placeholder="Enter Full Name" value='{{ .Values.Get "fullName" }}' required>
            </div>
            <div class="card-body m-3">
                <label for="emailInput">Email Address</label>
                {{with .VErrors.Get "email"}}
                <label class="text-danger">{{.}}</label>
                {{end}}
                <input type="email" class="form-control" id="emailInput" name="email" placeholder="Enter Email" value='{{ .Values.Get "email" }}' required>
            </div>
            <div class="card-body m-3">
                <label for="passportInput">Passport Number</label>
                {{with .VErrors.Get "passport"}}
                <label class="text-danger">{{.}}</label>
                {{end}}
                <input type="text" class="form-control" id="passportInput" name="passport" placeholder="Enter Passport Number" value='{{ .Values.Get "passport" }}' required>
            </div>
            <div class="card-body m-3 text-center">
                <button class="btn btn-outline-success form-control-lg pl-5 pr-5" type="submit">Signup Now</button>
            </div>
        </div>
    </form>
</div>
{{ end }}